:root {
	/* Colors */
	--clrfam:	#CCFFCC;
	--clrfamhatch:	#FFFFCC;
	--clrfam100:	#33FF33;
	--clrfam90:	#7777FF;
	--clrbfam:	#57FEFF;
	--clrbfamhatch:	#46C7C7;
	--clrbfam100:	#FDD017;
	--clrbfam90:	#C7A317;
}
body {
	font-family: verdana, arial, san-serif; 
	font-size: 0.8em; 
	background-color: #ffffff
}
h1, h2, h3 {
	text-align: left; 
	font-size: 1.5em; 
	margin-bottom: .25em; 
	margin-top: .5em; 
}
h2 {
	font-size: 1.25em;
}
h3 {
	font-size: 1.1em;
}
.subheader { 
	margin-top:-.25em
}
table {
	border-color: #000;
	border-width: 0 0 1px 1px;
	border-style: solid;
	padding: 1em, 2em, 0, 2em
}
table.nobord {
	border-width: 0 0 0 0;
}
table.toc {
	padding: 1em, 1em, 1em, 1em;
}
td, th {
	border-color: #000;
	border-width: 1px 1px 0 0;
	border-style: solid;
	margin: 0;
	font-size:.8em;
	text-align: center;
	padding:3px;
}
th {
	background-color: #DDD;
}
.nobord td {
	border-width: 0 0 0 0;
}
.toc td {
	padding: 0 2em 0 2em;
}
td.noshrink {
	font-size: 1em;
}
td.toc {
	font-size:1em;
	text-align: left;
	vertical-align: top;
}
.morepad td {
	padding:5px;
}
.miniheader {
	background-color: #dddddd;
	text-align: center;
	font-weight: bold;
	font-size: .8em;
}
#toc_header span {
	cursor: pointer;
	padding: 5px .5em 5px .5em;
	border: 2px #bbbbbb outset;
    border-radius: .5em;
	margin: 8px;
	height: 1.5em;
	background-color: #eeeeee;
}
.legend {
	margin-left: 3em;
}
table .perm {
	background-color: #eea;
}
table .hcperm {
	background-color: #8f8;
}
.cb table .perm {
	background-color: #4cc;
}
.cb table .hcperm {
	background-color: #5ff;
}
table .fam_run_100 {
	background-color: var(--clrfam100);
}
table .fam_run_100_u {
	background-image: 
		linear-gradient(to left, var(--clrfam100), var(--clrfam100) 6%, transparent 6%, transparent 94%, var(--clrfam100) 94%, var(--clrfam100)), 
		linear-gradient(to bottom, var(--clrfam100), var(--clrfam100) 6%, transparent 6%, transparent 94%, var(--clrfam100) 94%, var(--clrfam100));
}
table .fam_run_90 {
	background-color: var(--clrfam90);
}
table .fam_run_90_u {
	background-image: 
		linear-gradient(to left, var(--clrfam90), var(--clrfam90) 6%, transparent 6%, transparent 94%, var(--clrfam90) 94%, var(--clrfam90)), 
		linear-gradient(to bottom, var(--clrfam90), var(--clrfam90) 6%, transparent 6%, transparent 94%, var(--clrfam90) 94%, var(--clrfam90));
}
table .fam_have {
	background-color: var(--clrfam);
}
table .fam_have_hatch {
	background-color: var(--clrfamhatch);
}
table .fam_missing {
	background-color: transparent;
}
.cb table .fam_run_100 {
	background-color: var(--clrbfam100);
}
.cb table .fam_run_100_u {
	background-image: 
		linear-gradient(to left, var(--clrbfam100), var(--clrbfam100) 6%, transparent 6%, transparent 94%, var(--clrbfam100) 94%, var(--clrbfam100)), 
		linear-gradient(to bottom, var(--clrbfam100), var(--clrbfam100) 6%, transparent 6%, transparent 94%, var(--clrbfam100) 94%, var(--clrbfam100));
}
.cb table .fam_run_90 {
	background-color: var(--clrbfam90);
}
.cb table .fam_run_90_u {
	background-image: 
		linear-gradient(to left, var(--clrbfam90), var(--clrbfam90) 6%, transparent 6%, transparent 94%, var(--clrbfam90) 94%, var(--clrbfam90)), 
		linear-gradient(to bottom, var(--clrbfam90), var(--clrbfam90) 6%, transparent 6%, transparent 94%, var(--clrbfam90) 94%, var(--clrbfam90));
}
.cb table .fam_have {
	background-color: var(--clrbfam);
}
.cb table .fam_have_hatch {
	background-color: var(--clrbfamhatch);
}
.cb table .fam_missing {
	background-color: transparent;
}
