:root {
	/* Colors */
	--clrfam:	#CCFFCC;
	--clrfamhatch:	#FFFFCC;
	--clrfam100:	#33FF33;
	--clrfam90:	#7777FF;
}
body {
	font-family: verdana, arial, san-serif; 
	font-size: 0.8em; 
	background-color: #ffffff;
}
body.cb {
	--clrfam:	#57FEFF;
	--clrfamhatch:	#46C7C7;
	--clrfam100:	#FDD017;
	--clrfam90:	#C7A317;
}
h1, h2, h3 {
	text-align: left; 
	font-size: 1.5em; 
	margin-bottom: .25em; 
	margin-top: .5em; 
}
h2 {
	font-size: 1.25em;
}
h3 {
	font-size: 1.1em;
}
.subheader { 
	margin-top:-.25em
}
table {
	border-color: #000;
	border-width: 0 0 1px 1px;
	border-style: solid;
	padding: 1em, 2em, 0, 2em
}
table.nobord {
	border-width: 0 0 0 0;
}
table.toc {
	padding: 1em, 1em, 1em, 1em;
}
td, th {
	border-color: #000;
	border-width: 1px 1px 0 0;
	border-style: solid;
	margin: 0;
	font-size:.8em;
	text-align: center;
	padding:3px;
}
th {
	background-color: #DDD;
}
.nobord td {
	border-width: 0 0 0 0;
}
.toc td {
	padding: 0 2em 0 2em;
}
td.noshrink {
	font-size: 1em;
}
td.toc {
	font-size:1em;
	text-align: left;
	vertical-align: top;
}
.morepad td {
	padding:5px;
}
.miniheader {
	background-color: #dddddd;
	text-align: center;
	font-weight: bold;
	font-size: .8em;
}
#toc_header span {
	cursor: pointer;
	padding: 5px .5em 5px .5em;
	border: 2px #bbbbbb outset;
	border-radius: .5em;
	margin: 8px;
	height: 1.5em;
	background-color: #eeeeee;
}
.legend {
	margin-left: 3em;
}
table .perm {
	background-color: #eea;
}
table .hcperm {
	background-color: #8f8;
}
.cb table .perm {
	background-color: #4cc;
}
.cb table .hcperm {
	background-color: #5ff;
}
table .fam_run_100 {
	background-color: var(--clrfam100);
}
table .fam_run_100_h {
	background-image: 
		linear-gradient(45deg, var(--clrfam100) 35%, var(--clrfamhatch) 35%, var(--clrfamhatch) 65%, var(--clrfam100) 65%); 
}
table .fam_run_100_u {
	background-image: 
		linear-gradient(-45deg, var(--clrfam100) 35%, transparent 35%, transparent 65%, var(--clrfam100) 65%); 
}
table .fam_run_90 {
	background-color: var(--clrfam90);
}
table .fam_run_90_h {
	background-image: 
		linear-gradient(45deg, var(--clrfam90) 35%, var(--clrfamhatch) 35%, var(--clrfamhatch) 65%, var(--clrfam90) 65%); 
}
table .fam_run_90_u {
	background-image: 
		linear-gradient(-45deg, var(--clrfam90) 35%, transparent 35%, transparent 65%, var(--clrfam90) 65%); 
}
table .fam_have {
	background-color: var(--clrfam);
}
table .fam_have_hatch {
	background-color: var(--clrfamhatch);
}
table .fam_missing {
	background-color: transparent;
}
